@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid carousel-container section section-carousel">
    @await Component.InvokeAsync("HomeSlideMain")
</div>
@* <div class="b-divider-shadow"></div> *@

<div class="container-fluid py-4 mt-5 section section-category">
    @await Component.InvokeAsync("HomeCategory")
</div>

<div class="section section-slide-doctor-articles">
    @await Component.InvokeAsync("HomeSlideDoctor")
</div>

<div class="section section-slide-service-articles">
    @await Component.InvokeAsync("HomeSlideService")
</div>



