@using Dentistry.ViewModels.Catalog.Articles
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<ArticleVm>

<div class="container-fluid">
    <div class="container box_breadcrumb">
        <ul class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li>
                Tìm kiếm
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="p-3 bg-primary text-white">Cột lớn (8 cột khi MD, full khi nhỏ)</div>
            </div>
            <div class="col-12 col-md-4">
                <div class="p-3 bg-secondary text-white">Cột nhỏ (4 cột khi MD, full khi nhỏ)</div>
            </div>
        </div>
    </div>
</div>
