<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="~/logo.ico" />

    <title>@ViewData["Title"] - Administration</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <!-- Bootstrap 5 CSS -->
    <link href="~/lib/bootstrap-5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- DataTables CSS (Bootstrap 5 compatible) -->
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- Font Awesome 6 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- jQuery (required for DataTables and validation) -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- Bootstrap 5 Bundle JS (includes Popper) -->
    <script src="~/lib/bootstrap-5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <!-- DataTables JS (Bootstrap 5 compatible) -->
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <!-- Tinycme -->
    @* <script src="https://cdn.tiny.cloud/1/xhgl36xldfnf0slrwjswywl5tt48e645589wysh06f2rdo3m/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script> *@
    <script src="~/lib/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/js/tinymce.js"></script>
</head>
<body class="sb-nav-fixed">
    @await Component.InvokeAsync("Navigation")
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                @await Component.InvokeAsync("MenuLeft")

            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main style="height: 100%; overflow: auto;">
                @RenderBody()
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2019</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Info Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header infoModal-header">
                    <h5 class="modal-title" id="infoModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="message-content">
                    Thông báo.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" id="confirmModalDeleteButton" data-bs-dismiss="modal" class="btn btn-danger">Xóa</button>
                    <button type="button" id="confirmModalButton" data-bs-dismiss="modal" class="btn btn-warning">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/menuSideNav.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>