
$black: rgba(0, 0, 0);
$black50: rgba(0, 0, 0, 0.5);
$background: #f1f1f1d7;



$color-main: rgba(188, 142, 46, 1);
$color-main-20: rgba(188, 142, 46, 0.2);
$color-main-50: rgba(188, 142, 46, 0.5);
$color-main-bg: rgba(255, 255, 255, 0.99);
$color-main-text: rgba(49, 49, 49, 1);


// Menu
$color-dropdown-bg: rgb(255 254 253);
// Variables
$navbar-height: 120px;