<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-12 col-md-4 order-1 order-md-0 mb-3 mb-md-0 text-center text-md-start">
                <a href="/" class="footer__logo">
                    <img src="~/assets/logo/LOGO NHIÊN DENTAL CLINIC DONE-01.jpg" alt="Logo">
                </a>
            </div>

            <!-- Navigation -->
            <div class="col-12 col-md-8 order-2">
                <div class="row footer__nav">
                    <div class="col-md-4">
                        <h5 class="mb-3">Hotline</h5>
                        <ul>
                            <li>Hà Nội: <a href="tel:19001234">1900 1234</a></li>
                            <li>Hồ Chí Minh: <a href="tel:19005678">1900 5678</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5 class="mb-3">Hệ Thống Nha Khoa</h5>
                        <ul>
                            <li class="branches">Cơ sở Smart City
                                <ul>
                                    <li>Địa chỉ: Tòa S2.05</li>
                                    <li>Điện thoại: 0123 456 789</li>
                                </ul>
                            </li>
                            <li class="branches">Cơ sở Ngoại Giao Đoàn
                                <ul>
                                    <li>Địa chỉ: Tòa S2.05</li>
                                    <li>Điện thoại: 0123 456 789</li>
                                </ul>
                            </li>
                            <li class="branches">Cơ sở Xuân Đỉnh
                                <ul>
                                    <li>Địa chỉ: Tòa S2.05</li>
                                    <li>Điện thoại: 0123 456 789</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5 class="mb-3">Follow us</h5>
                        <div class="social-icons">
                            <a href="https://dribbble.com/Fireart-d" target="_blank" aria-label="Dribbble"><i class="fab fa-dribbble"></i></a>
                            <a href="https://www.behance.net/fireart" target="_blank" aria-label="Behance"><i class="fab fa-behance"></i></a>
                            <a href="https://www.instagram.com/fireart_studio/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/2975640/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/fireartd/" target="_blank" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
                            <a href="https://twitter.com/fireart_studio" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
            <!-- Footer Bottom -->
        <div class="footer__bottom">
            <p class="m-0">Copyright © 2024 Fireart Studio. All rights reserved.</p>
        </div>
</footer>