@using Dentistry.ViewModels.Catalog.Logger
@model List<LoggerVm>

    <style>
        .log-date {
            min-width: 140px;
        }
        .log-action {
            width: 60px;
            text-align: center;
        }
    </style>
<div class="container-fluid p-2">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Logs</h2>
    </div>

    <div class="table-responsive">
        <table id="loggerTable" class="table table-striped">
            <thead>
                <tr>
                    <th class="log-body">Body</th>
                    <th class="log-date">Date</th>
                    <th class="log-action">Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Add Logger Modal -->
<div class="modal fade" id="addEditLoggerModal" tabindex="-1" aria-labelledby="addEditLoggerModallLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content"></div>
    </div>
</div>

<script src="~/js/logger.js"></script>
