@using Dentistry.ViewModels.Catalog.Branches
@model List<BranchesVm>

@* <div class="b-divider-shadow"></div> *@
<div class="container-fluid box_book section section-contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 hidden-xs">
                <img class="image" src="~/assets/img/book.png">
            </div>
            <div class="col-sm-7 col-xs-12">
                <div class="box_wrap">
                    <div class="box_title">Đặt lịch khám tại Nhiên</div>
                    <div class="box_content" id="app-contact-content">
                        @{
                            Html.RenderPartial("~/Views/Contact/Partials/BookForm.cshtml", Model);
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/add_contact.js"></script>

