<div class="box-top d-none d-lg-block">
    <div class="container-lg container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-9 d-flex">
                <div class="hotline">
                    <i class="fa fa-solid fa-phone"></i>
                    <span class="item item-after">Hà Nội: <a href="tel:19009999">1900 9999</a></span>
                    <span class="item ">TP.Hồ Chí Minh: <a href="tel:1900 9991">1900 9991</a></span>
                </div>
            </div>
            <div class="col-lg-6 col-sm-4 d-flex justify-content-end">
                <div class="open item-after d-none d-lg-block">
                    <span class="item">Giờ mở cửa: <span>8h00 - 20h00</span></span>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/nhakhoanhien86" target="_blank">
                        <i class="fa fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/nhakhoanhien86" target="_blank">
                        <i class="fa fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/nhakhoanhien86" target="_blank">
                        <i class="fa fa-brands fa-youtube"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>