<div class="box-top d-none d-lg-block">
    <div class="container-lg container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-9 d-flex">
                <div class="hotline">
                    <i class="fa fa-solid fa-phone"></i>
                    <span class="item item-after">Hà Nội: <a href="tel:19009999">1900 9999</a></span>
                    <span class="item ">TP.Hồ Chí Minh: <a href="tel:1900 9991">1900 9991</a></span>
                </div>
            </div>
            <div class="col-lg-6 col-sm-4 d-flex justify-content-end">
                <div class="open item-after d-none d-lg-block">
                    <span class="item">Giờ mở cửa: <span>8h00 - 20h00</span></span>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/nhakhoanhien86" target="_blank">
                        <i class="fa fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/nhakhoanhien86" target="_blank">
                        <i class="fa fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/nhakhoanhien86" target="_blank">
                        <i class="fa fa-brands fa-youtube"></i>
                    </a>
                    <a href="#" id="open-modal-btn">
                        <i class="fa fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Modal Search -->
<div id="search-modal" class="modal fade" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0 shadow-none">
            <div class="position-relative w-100">
                <form id="search-form" class="d-flex">
                    <input type="text"
                           class="form-control search-input shadow"
                           placeholder="Type to search..."
                           name="search"
                           required>
                    <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript -->
<script type="text/javascript">
     const searchModal = new bootstrap.Modal(document.getElementById('search-modal'), {
        keyboard: true,
        backdrop: true
    });

    // Open modal
    document.getElementById('open-modal-btn').addEventListener('click', () => {
        searchModal.show();
    });

    // Handle search form submit
    document.getElementById('search-form').addEventListener('submit', (e) => {
        e.preventDefault();
        const query = e.target.search.value;
        alert(`Searching for: ${query}`);
        searchModal.hide();
        e.target.reset();
    });
</script>