<div class="container">
    <div class="slider-service">
        <div class="slide-item">
            <div class="content" alt="Đinh Đình Đức" style="background-image: url('https://images.unsplash.com/photo-1519638399535-1b036603ac77?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=400');">
                <div class="action">
                    <span>Xem thêm</span>
                </div>
            </div>
            <div class="slide-item-footer">
                <div class="title">Đinh Đình A</div>
            </div>
        </div>
        <div class="slide-item">
            <div class="content" alt="Đinh Đình Đức" style="background-image: url('https://images.unsplash.com/photo-1519638399535-1b036603ac77?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=400');">
                <div class="action">
                    <span>Xem thêm</span>
                </div>
            </div>
            <div class="slide-item-footer">
                <div class="title">Hứa Thị B</div>
            </div>
        </div>
        <div class="slide-item">
            <div class="content" alt="Đinh Đình Đức" style="background-image: url('https://images.unsplash.com/photo-1519638399535-1b036603ac77?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=400');">
                <div class="action">
                    <span>Xem thêm</span>
                </div>
            </div>
            <div class="slide-item-footer">
                <div class="title">Nguyễn Thị Thu C</div>
            </div>
        </div>
        <div class="slide-item">
            <div class="content" alt="Đinh Đình Đức" style="background-image: url('https://images.unsplash.com/photo-1519638399535-1b036603ac77?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=400');">
                <div class="action">
                    <span>Xem thêm</span>
                </div>
            </div>
            <div class="slide-item-footer">
                <div class="title">Phùng Văn D</div>
            </div>
        </div>
        <div class="slide-item">
            <div class="content" alt="Đinh Đình Đức" style="background-image: url('https://images.unsplash.com/photo-1519638399535-1b036603ac77?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=400');">
                <div class="action">
                    <span>Xem thêm</span>
                </div>
            </div>
            <div class="slide-item-footer">
                <div class="title">Bùi Bích E</div>
            </div>
        </div>
    </div>
</div>



<script src="~/js/home-slide-service.js"></script>
