@using Dentistry.ViewModels.Catalog.AppSettings
@model AppSettingVm

<div class="container-fluid mt-4">
    <!-- Name hiển thị và căn giữa -->
    <h3 class="text-center mb-4">@Model.Name</h3>

    <!-- Form cập nhật -->
    <form id="updateForm" asp-action="UpdateSetting" asp-controller="AppSetting" method="post" class="row g-3">
        <input asp-for="Id" type="hidden" />
        <!-- Hotline Group -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">Hotline</div>
                <div class="card-body row g-3">
                    <div class="col-md-6">
                        <label asp-for="HotlineHaNoi" class="form-label">Hotline Hà Nội</label>
                        <input type="text" class="form-control" asp-for="HotlineHaNoi">
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ZaloHotline" class="form-label">Zalo</label>
                        <input type="text" class="form-control" asp-for="ZaloHotline">
                    </div>
                </div>
            </div>
        </div>

        <!-- Work Time Group -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">Giờ làm việc</div>
                <div class="card-body row g-3">
                    <div class="col-md-6">
                        <label asp-for="StartWork" class="form-label">Giờ mở cửa</label>
                        <input type="text" class="form-control" asp-for="StartWork">
                    </div>
                    <div class="col-md-6">
                        <label asp-for="EndWork" class="form-label">Giờ đóng cửa</label>
                        <input type="text" class="form-control" asp-for="EndWork">
                    </div>
                </div>
            </div>
        </div>
       
        <!-- Social Group -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">Mạng xã hội</div>
                <div class="card-body row g-3">
                    <div class="col-md-6">
                        <label asp-for="Facebook" class="form-label">Facebook</label>
                        <input type="text" class="form-control" asp-for="Facebook">
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Instagram" class="form-label">Instagram</label>
                        <input type="text" class="form-control" asp-for="Instagram">
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Twitter" class="form-label">Twitter</label>
                        <input type="text" class="form-control" asp-for="Twitter">
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Youtube" class="form-label">Youtube</label>
                        <input type="text" class="form-control" asp-for="Youtube">
                    </div>
                </div>
            </div>
        </div>

        <!-- Web App Group -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">Dan mục chính</div>
                <div class="card-body row g-3">
                    <div class="col-md-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="ShowCategoryList" checked>
                            <label class="form-check-label" asp-for="ShowCategoryList">Dịch vụ nổi bật</label>
                        </div>
                    </div><div class="col-md-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="ShowDoctorlideList" checked>
                            <label class="form-check-label" asp-for="ShowDoctorlideList">Bác sĩ nổi bật</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="ShowArtileSlideList" checked>
                            <label class="form-check-label" asp-for="ShowArtileSlideList">Bài viết nổi bật</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="ShowNewsList" checked>
                            <label class="form-check-label" asp-for="ShowNewsList">Tin tức nổi bật</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="ShowProductList" checked>
                            <label class="form-check-label" asp-for="ShowProductList">Danh mục sản phẩm</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="ShowFeedbackList" checked>
                            <label class="form-check-label" asp-for="ShowFeedbackList">Phản hồi khách hàng</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="col-12 text-center mt-4">
            <button type="submit" id="btn-setting-update" class="btn btn-primary">Cập nhật</button>
        </div>
    </form>
</div>


<script src="~/js/app-setting.js"></script>