@using Dentistry.ViewModels.Catalog.Categories
@model CategoryVm


@{

    if (Model.Articles.Count > 0)
    {
        <div class="container-fluid p-0 pb-5" style="background: #fff9ed;">
            <div class="container">
                <div class="box_title py-5"> Bài viết liên quan</div>
                <div class="box_content box_list_item">
                    <div class="row">
                        <div class="container mt-4">
                            <div class="row g-3">
                                <!-- Cột trái: Item lớn -->
                                <div class="col-lg-4 col-md-12">
                                    @{
                                        var item = Model.Articles.First();
                                        var customBoxMedium = new CustomBox()
                                        {
                                            Title = item.Title,
                                            ImgPath = item.CoverImage,
                                            Description = item.Description,
                                            Link = "/bai-viet/" + item.Alias
                                        };
                                    }
                                    @Html.Partial("_viewComponentArticleLinkBoxMedium", customBoxMedium)
                                </div>

                                <!-- Cột phải: Danh sách item nhỏ -->
                                <div class="col-lg-8 col-md-12">
                                    <div class="row row-cols-1 row-cols-lg-1 row-cols-xl-2 g-3">
                                        @foreach (var art in Model.Articles.Take(7))
                                        {
                                            if (art != Model.Articles.First())
                                            {
                                                var customBoxSmall = new CustomBox()
                                                {
                                                    Title = art.Title,
                                                    ImgPath = art.CoverImage,
                                                    Description = art.Description,
                                                    Link = "/bai-viet/" + art.Alias
                                                };
                                                <div class="col">
                                                    @Html.Partial("_viewComponentArticleLinkBoxSmall", customBoxSmall)
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

