@using Dentistry.ViewModels.Catalog.Doctors
@model List<DoctorVm>

<div id="section-doctor">
    Hello bacs si <button type="button" onclick="reloadDoctorList()">Reload</button>
</div>
<script src="~/js/doctor.js"></script>