@using Dentistry.ViewModels.Catalog.Articles
@{
    ViewData["Title"] = "Danh sách bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<ArticleVm>
<div id="article-list">
    @{
        Html.RenderPartial("_Partial_Article_list", Model);
    }
</div>
<script type="text/javascript" src="~/js/tinymce.js"></script>
<script type="text/javascript" src="~/js/article.js"></script>