html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sb-topnav a img {
    height: 40px;
}
.sb-topnav span {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    padding-left: 10px;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: white;
}
.show-slide-bar {
    direction: rtl;
}
    .show-slide-bar a {
        width: auto !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
        .show-slide-bar a span {
            display: none;
        }


.slide-page {
    padding: 15px;
}


#tabMenu {
    background: #efefed;
}